<%= form_with(model: btc_charge, local: true) do |form| %>
  <% if btc_charge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(btc_charge.errors.count, "error") %> prohibited this btc_charge from being saved:</h2>

      <ul>
      <% btc_charge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :person_id %>
    <%= form.text_field :person_id %>
  </div>

  <div class="field">
    <%= form.label :btc %>
    <%= form.text_field :btc %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>

  <div class="field">
    <%= form.label :evidence %>
    <%= form.text_field :evidence %>
  </div>

  <div class="field">
    <%= form.label :qr %>
    <%= form.text_field :qr %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
