<p id="notice"><%= notice %></p>

<h1>Btc Charges</h1>

<table>
  <thead>
    <tr>
      <th>Person</th>
      <th>Btc</th>
      <th>State</th>
      <th>Evidence</th>
      <th>Qr</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @btc_charges.each do |btc_charge| %>
      <tr>
        <td><%= btc_charge.person %></td>
        <td><%= btc_charge.btc %></td>
        <td><%= btc_charge.state %></td>
        <td><%= btc_charge.evidence %></td>
        <td><%= btc_charge.qr %></td>
        <td><%= link_to 'Show', btc_charge %></td>
        <td><%= link_to 'Edit', edit_btc_charge_path(btc_charge) %></td>
        <td><%= link_to 'Destroy', btc_charge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Btc Charge', new_btc_charge_path %>
