<%= form_with(model: setting, local: true) do |form| %>
  <% if setting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(setting.errors.count, "error") %> prohibited this setting from being saved:</h2>

      <ul>
      <% setting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :last_trade_price %>
    <%= form.text_field :last_trade_price %>
  </div>

  <div class="field">
    <%= form.label :purchase_percentage %>
    <%= form.text_field :purchase_percentage %>
  </div>

  <div class="field">
    <%= form.label :sale_percentage %>
    <%= form.text_field :sale_percentage %>
  </div>

  <div class="field">
    <%= form.label :hour_volume %>
    <%= form.text_field :hour_volume %>
  </div>

  <div class="field">
    <%= form.label :active_traders %>
    <%= form.number_field :active_traders %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
