<p id="notice"><%= notice %></p>

<p>
  <strong>Bank:</strong>
  <%= @bank_account.bank %>
</p>

<p>
  <strong>Number:</strong>
  <%= @bank_account.number %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @bank_account.identification %>
</p>

<p>
  <strong>Document type:</strong>
  <%= @bank_account.document_type %>
</p>

<p>
  <strong>Identification front:</strong>
  <%= @bank_account.identification_front %>
</p>

<p>
  <strong>Identification back:</strong>
  <%= @bank_account.identification_back %>
</p>

<p>
  <strong>Account certificate:</strong>
  <%= @bank_account.account_certificate %>
</p>

<p>
  <strong>Person:</strong>
  <%= @bank_account.person %>
</p>

<%= link_to 'Edit', edit_bank_account_path(@bank_account) %> |
<%= link_to 'Back', bank_accounts_path %>
