<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @sale.person %>
</p>

<p>
  <strong>Btc:</strong>
  <%= @sale.btc %>
</p>

<p>
  <strong>Value:</strong>
  <%= @sale.value %>
</p>

<p>
  <strong>Country:</strong>
  <%= @sale.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @sale.state %>
</p>

<p>
  <strong>Wallet url:</strong>
  <%= @sale.wallet_url %>
</p>

<%= link_to 'Edit', edit_sale_path(@sale) %> |
<%= link_to 'Back', sales_path %>
