<p id="notice"><%= notice %></p>

<p>
  <strong>Person:</strong>
  <%= @charge.person %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @charge.amount %>
</p>

<p>
  <strong>State:</strong>
  <%= @charge.state %>
</p>

<p>
  <strong>Evidence:</strong>
  <%= @charge.evidence %>
</p>

<%= link_to 'Edit', edit_charge_path(@charge) %> |
<%= link_to 'Back', charges_path %>
